<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" rel="stylesheet">
        <link href="main.css" type="text/css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
        <title>Growler</title>
    </head>
    <body>
        <div id="growler">
            <h2 v-html="appName"></h2>
            <div class="col-md-12 col-sm-12 col-lg-12">
                <form>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <input v-model.lazy.trim="query" placeholder="Search..." class="form-control"/>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12">
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <label>
                                <input type="radio" value="beers" v-model="searchIndexes">
                                Beers    
                            </label>
                            <br/> 
                            <label>
                                <input type="radio" value="breweries" v-model="searchIndexes">
                                Breweries    
                            </label>
                            <br/>
                            <small>Selected: {{ searchIndexes }}</small>
                            <br/> 
                        </div>   
                        <button type="button" v-on:click="executeSearch">Search</button>
                    </div>
                </form>
            </div>
            <br>
            <div>Searching for: {{ query }}</div>
        </div>
        
        <script type="text/javascript" src="https://unpkg.com/vue"></script>
        <script type="text/javascript">
            var growler = new Vue({
                el: '#growler',
                data: {
                    appName: '<a href="/">Growler</a>',
                    query: '',
                    isPowerSyntaxEnabled: false,
                    searchIndexes: 'beers'
                },
                methods: {
                    executeSearch: function() {
                        alert(this.query);
                    }
                }
            })
        </script>
    </body>
</html>